.name {
  text-align: center;
}

.email {
  text-align: center;
}

.message {
  text-align: center;
}

.button {
  text-align: center;
}

.photoflex {
  display: flex;
  justify-content: space-around;
}

.App {
  background-color: bisque;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
}
