.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  color: #fff;
  padding: 1rem 2rem;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 4vw;
  justify-content: right;
  resize: horizontal;
}

.navbar-left {
  padding: 1rem 2rem;
}

.navbar-right {
  padding: 1rem 2rem;
}
